.App {
  width: 25vw;
  padding: 1rem;
  margin: 0 auto;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

ol {
  list-style-type:none;
}

.list {
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  border: 1px solid black;
}

.refresh {
  flex: 1;
}