* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

p,
.or {
  cursor: default;
}

button,
input[type=submit] {
  cursor: pointer;
}

.input {
  background: #ececec;
  border-radius: 0.5rem;
  border: 1px #11111180 solid;
  margin-bottom: 0.5rem;
  box-shadow: inset 0 2px 3px rgba(10,10,10,.2) !important;
}

.button {
  background: #6088d1;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 1px #11111180 solid;
}

.button:hover {
  background: #7095db;
  border: 1px #11111180 solid;
}

.App {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  background: #41393E;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

ol {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

.list {
  border-radius: 0.5rem;
  background: #ececec;
  flex: 1;
  width: 90vw;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  border: 1px #11111180 solid;
  box-shadow: inset 0 4px 6px rgba(10,10,10,.2);
  margin-bottom: 0 !important;
}

.list div {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
}

.list li:last-child div {
  margin-bottom: 0;
}

.list p {
  margin: 0;
}

.message {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-username {
  font-size: 1.1rem;
  font-weight: 500;
}

.message-text {
  padding: 0 0.5rem;
}



.LoginForm input[type=submit],
.RegisterForm input[type=submit] {
  width: 100%;
}

.LoginForm button,
.RegisterForm button {
  width: 100%;
}

.LoginForm,
.RegisterForm {
  border-radius: 0.5rem;
  border: 1px #11111180 solid;
  background: #41393E;
  padding: 0.75rem;
  position: absolute;
  top: 6.25rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);
}

.postMessage {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postMessage input {
  margin-bottom: 0 !important;
}

.postInput {
  border-radius: 0.5rem 0 0 0.5rem;
  width: 65vw;
  height: 2.5rem;
  border: 1px #11111180 solid;
  box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);
}

.postButton {
  width: 25vw;
  height: 2.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px #11111180 solid;
  box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);
}

button, input {
  padding: 0.5rem 1rem;
}

.login-logout {
  height: 2.5rem;
  width: 45vw;
  border-radius: 0.5rem;
  border: 1px #11111180 solid;
  box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);
}

.current-user {
  background: #6088d140;
  border-radius: 0.5rem;
}

.or {
  color: #ececec;
  font-weight: 500;
  width: 100%;
  height: 1.5rem;
  text-align: center;
}

.refresh {
  flex: 1;
}

.reveal {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (min-width: 725px) {

  .list {
    width: 60vw;
    height: 60vh;
  }

  .LoginForm,
  .RegisterForm {
    top: 7.5rem;
  }

  .login-logout {
    width: 20vw;
  }

  .postMessage {
    margin-bottom: 5vh;
  }

  .postInput {
    width: 45vw;
  }

  .postButton {
    width: 15vw;
  }
}

@media only screen and (min-width: 1024px) {

  .list {
    width: 40vw;
  }

  .login-logout {
    width: 15vw;
  }

  .postInput {
    width: 30vw;
  }

  .postButton {
    width: 10vw;
  }
}