.App {
  width: 30%;
  padding: 5vmin;
  margin: 0 auto;
}

ol {
  list-style-type:none;
}

.list {
  height: 60vh;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.refresh {
  flex: 1;
}